<ion-header>
  <ion-toolbar>
    <ion-title>{{producto.name}}</ion-title>
    <app-cart slot='end' [count]="cart_count" [routerLink]="['/cart-list']"></app-cart>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="producto.img_url"></ion-img>
  <ion-text class="ion-text-center" color="primary">
    <h1>{{producto.price.toLocaleString('en-US', {style: 'currency', currency: 'USD'})}}</h1>
  </ion-text>
  <!-- TODO: Diseñar la presentación del producto -->
  <ion-button expand="block" fill="clear" shape="round" (click)="on_add_button()">
    Agregar al carrito
  </ion-button>
  <ion-button expand="block" fill="clear" shape="round" >
    Comprar
  </ion-button>
  </ion-content>