<ion-header>
  <ion-toolbar>
    <ion-title>Carrito ({{cartSrv.quantity | async}})</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartSrv.list | async" [routerLink]="['/home',item.id]">
      <ion-avatar slot="start">
        <img [src]="item.img_url" />
      </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
      <ion-label color="primary">{{item.price}}</ion-label>
      <ion-label>{{item.quantity}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button [disabled]="(cartSrv.quantity | async)==0" expand="block" (click)="on_buy_button()">
    comprar <ion-icon name="happy-outline"></ion-icon>
  </ion-button>
</ion-content>